@model List<Blog.WebUI.Areas.Admin.Models.ClassViewModel.ClassListVM>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/_Layout.cshtml";
}

<div class="title-bar">
    <h1 class="title-bar-title">
        <span class="icon icon-plus"></span>
        <span class="d-ib">@Html.ActionLink("Create Class", "Create", new { id = ViewBag.ClassTypeID, classId = ViewBag.ClassId })</span>
    </h1>
</div>
@*@using (Html.BeginForm("Delete", "Classes", FormMethod.Post, new { enctype = "multipart/form-data" }))*@
<form asp-controller="class" asp-action="delete" method="post">
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-xs-12">
            <div class="panel">
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-middle">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Title</th>
                                    <th>Summary</th>
                                    <th>Active</th>
                                    <th>Creation Date</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model.Count() > 0)
                                {
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                <label class="custom-control custom-control-primary custom-checkbox">
                                                    <input class="custom-control-input" type="checkbox" name="ids" value="@item.Id" />
                                                    <span class="custom-control-indicator"></span>
                                                </label>
                                            </td>
                                            <td>
                                                <a href="@Url.Action("Index", "Class", new { id = 0, classTypeId = item.ClassTypeId, classId = item.Id})">
                                                    @Html.DisplayFor(modelItem => item.Title)

                                                </a>
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Summary)
                                            </td>
                                            <td>
                                                @Html.CheckBoxFor(modelItem => item.Active, new { @disabled = "disabled" })
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.CreationDate)
                                            </td>
                                            <td>
                                                @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-outline-primary pull-right" })
                                            </td>
                                        </tr>
                                        @Html.HiddenFor(modelItem => item.ClassTypeId)
                                        @Html.HiddenFor(modelItem => item.Id)
                                    }
                                }
                            </tbody>
                            <tfoot>
                                @if (Model.Count() > 0)
                                {
                                    <tr>
                                        <td colspan="7">
                                            <input type="submit" name="delete" value="Delete" class="btn btn-danger pull-right" onclick="return confirm('Kaydı silmek istediğinizden emin misiniz?');" />

                                        </td>
                                    </tr>
                                }

                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
</form>
